# Python

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/
.venv/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store

# Colab / local

.colab/
drive/

# Astronomy / generated data 

*.fits
*.npy
